<article id="<%= dom_id post %>">
  <div>
    <h1 class="capitalize">
      <%= post.title %>
    </h1>
  </div>

  <div class="capitalize small-text">
    <div>
      <%= post.category %> - 
      <time datetime="<%= post.created_at.to_formatted_s(:iso8601) %>"><%= post.created_at.to_fs(:long) %></time>
    </div>
    <% if post.subcategory != nil %>
      <div>
        <%= post.subcategory %>
      </div>
    <% end %>
    <% if post.created_at != post.updated_at %>
      <div>
        Last updated: <%= post.updated_at.to_fs(:long) %>
      </div>
    <% end %>
  </div>

  <% if post.cover_image.attached? %>
    <picture>
      <source srcset="<%= url_for(post.cover_image.variant(:mobile)) %>"
              media="(max-width: 768px)">
      <source srcset="<%= url_for(post.cover_image.variant(:tablet)) %>"
              media="(max-width: 1024px)">
      <%= image_tag post.cover_image.variant(:desktop), class: "post-cover-img" %>
    </picture>
  <% end %>

  <div class="prose">
    <%= @markdown %>
  </div>
</article>