<div id="<%= dom_id post %>">
  <div>
    <strong>Title:</strong>
    <%= post.title %>
  </div>
  
  <div>
    <strong>Category:</strong>
    <%= post.category.capitalize %>
  </div>

  <div>
    <%= post.cover_image %>
  </div>

  <div>
    <strong>Body:</strong>
    <%= post.body %>
  </div>

</div>
