<div class="post" id="<%= dom_id post %>">
  <div>
    <h1><%= post.title %></h1>
  </div>
  
  <div>
    <%= post.category.capitalize %>
  </div>

  <% if post.cover_image.attached? %>
  <div>
    <%= post.cover_image %>
  </div>
  <% end %>

  <div>
    <strong>Body:</strong>
    <%= post.body %>
  </div>
</div>