<div id="<%= dom_id post %>">
  <div>
    <h1 class="capitalize underline">
      <%= post.title %>
    </h1>
  </div>

  <div class="capitalize small-text">
    <% if post.created_at == post.updated_at %>
      <%= @post.category %> - <%= @post.created_at.to_fs(:long) %>
    <% else %>
      <div><%= @post.category %> - <%= @post.created_at.to_fs(:long)%></div>
      <div>Last updated: <%= @post.updated_at.to_fs(:long) %></div>
    <% end %>
  </div>

  <% if post.cover_image.attached? %>
  <div>
    <%= post.cover_image %>
  </div>
  <% end %>

  <article class="post-body">
    <%= post.body %>
  </article>
</div>