<article id="<%= dom_id post %>">
  <div>
    <h1 class="capitalize">
      <%= post.title %>
    </h1>
  </div>

  <div class="capitalize small-text">
    <div>
      <%= post.category %> - <%= post.created_at.to_fs(:long) %>
    </div>
    <% if post.created_at != post.updated_at %>
      <div>
        Last updated: <%= post.updated_at.to_fs(:long) %>
      </div>
    <% end %>
  </div>

  <% if post.cover_image.attached? %>
    <%= image_tag post.cover_image, class: "post-cover-img" %>  
  <% end %>

  <div class="prose">
    <%= @markdown %>
  </div>
</article>