<p style="color: green"><%= notice %></p>

<% content_for :title, "Soadaa's Blog - Posts" %>

<%= link_to "New post", new_post_path %>

<h1 class="capitalize">
  <%= @category.pluralize %>
</h1>

<div id="posts">
  <% @posts.each do |post| %>
    <p class="capitalize">
      <%= post.created_at.strftime("%B %d, %Y") %> 
      -
      <%= link_to post.title, post %>
    </p>
  <% end %>
</div>

