<nav id="nav-menu">
    <ul class="nav-list capitalize">
        <li><%= link_to "home", root_path %></li>
        <li><%= link_to "all posts", posts_path %></li>
        <li><%= link_to "blogs", posts_path(category: "blog") %></li>
        <li><%= link_to "reviews", posts_path(category: "review") %></li>
        <li><%= link_to "rankings", posts_path(category: "ranking") %></li>
        <li><%= link_to "impression", posts_path(category: "impression") %></li>
        <li><%= link_to "guides", posts_path(category: "guide") %></li>
    </ul>
    <div aria-hidden="true" class="theme-menu-toggle" data-controller="theme">
        <%= image_tag "svg/sunray.svg", size: "36", 
            alt: "Sunray svg; icon for altering sites color theme.",
            class: "theme-icon",
            data: { action: "click->theme#openMenu" } %>

        <div class="menu-bg-overlay hidden"
            data-theme-target="selection"  
            data-action="click->theme#closeMenu"  
        ></div>

        <ul class="theme-popup-menu bold hidden capitalize" 
            data-theme-target="selection" >
            <span class="theme-popup-close"
            data-action="click->theme#closeMenu" >X</span>
            <li data-action=
                "click->theme#selectTheme"
                data-theme-value="dark">
                dark</li>
            <li data-action="click->theme#selectTheme"
                data-theme-value="light">
                light</li>
            <li data-action="click->theme#selectTheme"
                data-theme-value="milk">
                milknthingzz</li>
            <li data-action="click->theme#selectTheme"
                data-theme-value="neon">
                neon</li>
            <li data-action="click->theme#selectTheme"
                data-theme-value="colorblind">
                colorblind</li>
        </ul>
    </div>
</nav> 
