<nav id="nav-menu">
    <ul class="nav-list capitalize">
        <li><%= link_to "home", root_path %></li>
        <li><%= link_to "all posts", posts_path %></li>
        <li><%= link_to "blogs", posts_path(category: "blog") %></li>
        <li><%= link_to "reviews", posts_path(category: "review") %></li>
        <li><%= link_to "rankings", posts_path(category: "ranking") %></li>
        <li><%= link_to "impression", posts_path(category: "impression") %></li>
        <li><%= link_to "guides", posts_path(category: "guide") %></li>
    </ul>
</nav> 

